body {
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: center;
}

#saldoActual {
    margin-bottom: 20px;
    font-size: 18px;
}

#resultado {
    margin-bottom: 20px;
    font-size: 16px;
}

button {
    padding: 10px;
    font-size: 14px;
    margin: 5px;
    cursor: pointer;
}

.producto {
    margin-bottom: 10px;
}

.comprarBtn {
    margin-left: 10px;
}

#carrito {
    margin-top: 20px;
}